header{
    background-color:blueviolet;
    height: 50px;
    width: 100%;
}
main{
    height: 500px;
    background-color: cornflowerblue;
    
}
footer{
    background-color:blueviolet;
    height: 50px;
}
a{
    text-decoration : none;
    font-size: 20px ;
    color:wheat;
}
li{
    list-style: none;
    font-size: 20px ;
    color:wheat;
   
}
footer{
    display: flex;
    justify-content:space-evenly;
    height: 75px;
}
#a1 a{
    margin-left: 600px;  
    margin-top: 20px;  
}
p{
    color: wheat;
    font-size: 20px;
}
ol{
    
    
    
}