header{
    background-color: aqua;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}
main{
    height: 500px;
    background-color: cornflowerblue;
    
}
footer{
    background-color: aqua;
    height: 50px;
    margin-top: 0px;
}
a{
    text-decoration : none;
    font-size: 20px ;
    color:blue;
}
li{
    list-style: none;
    font-size: 20px ;
    color:blue;
   
}
footer{
    display: flex;
    justify-content:space-evenly;
    height: 75px;
}
#a1 a{
    margin-left: 600px;
    
    
}
p{
    color: blue;
    font-size: 20px;
}
ol{
    
    
    
}